<span data-picture data-alt="Captain Greed Background">
		<span data-src="<%= asset_path 'backgrounds/small-'+name+'.png' %>"></span>
		<span data-src="<%= asset_path 'backgrounds/medium-'+name+'.png' %>"	data-media="(min-width: 400px)"></span>
		<span data-src="<%= asset_path 'backgrounds/large-'+name+'.png' %>"	data-media="(min-width: 800px)"></span>
		<span data-src="<%= asset_path 'backgrounds/xlarge-'+name+'.png' %>" data-media="(min-width: 1000px)"></span>
		<span data-src="<%= asset_path 'backgrounds/extra-large-'+name+'.png' %>" data-media="(min-width: 1200px)"></span>

		<noscript>
				<img src="<%= asset_path 'small-background.png' %>" alt="Captain Greed Background">
		</noscript>
</span>
<h1><%= name %></h1>