<footer id="footer">
	<div class="social">
		<h1>Follow us!</h1>
		<div class="icons">
			<!--
			<img class="social-icon" src="http://www.countdown-blog.pld-c.com/wp-content/uploads/2013/02/FacebookButton.png" alt="Facebook Icon" width="50" height="50"/>
			<img class="social-icon" src="http://www.darden.virginia.edu/web/uploadedImages/Darden/Media/Widget_Content/DardenGeneric/twitter-icon.png" alt="Twitter Icon" width="50" height="50"/>
			<img class="social-icon" src="http://www.jeffbullas.com/wp-content/uploads/2012/02/7-Ways-to-Use-Pinterest-to-Market-Your-Business.png" alt="Pinterest Icon" width="50" height="50"/>
			<img class="social-icon" src="http://www.markcroftmusic.com/images/YouTube-Button.png" alt="YouTube Icon" width="50" height="50"/>
			<img class="social-icon" src="http://www.authormedia.com/wp-content/uploads/2013/07/google-plus-button.jpg" alt="Google+ Icon" width="50" height="50"/>
			-->
			

			<%= link_to(image_tag("icons/social/Facebook.png", :class => "social-icon",:alt => "Facebook Icon", :width => "50", :height => "50"), "https://www.facebook.com/captaingreedgame") %>
			<%= link_to(image_tag("icons/social/Twitter.png", :class => "social-icon",:alt => "Twitter Icon", :width => "50", :height => "50"), "https://twitter.com/Captain_Greed") %>
			<%= link_to(image_tag("icons/social/Pinterest.png", :class => "social-icon",:alt => "Pinterest Icon", :width => "50", :height => "50"), "http://www.pinterest.com/captaingreed/") %>
			<%= link_to(image_tag("icons/social/Youtube.png", :class => "social-icon",:alt => "Youtube Icon", :width => "50", :height => "50"), "http://www.youtube.com/channel/UCHi2NqaX-Hmc0JA72AEJJyg") %>
			<%= link_to(image_tag("icons/social/Google_Plus.png", :class => "social-icon",:alt => "Google+ Icon", :width => "50", :height => "50"), "https://plus.google.com/u/0/b/114758811508054604857/114758811508054604857/posts") %>

			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>